body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
  margin-left: 20px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 20px;
}

.cent{
    Text-align: center;
}
.container{
    max-width:800px;
}